<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bear's Karaoke</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='js/script.js') }}"> -->
</head>
<body>
    <input id="yt-url" type="url" placeholder="Youtube Link">
    <button id="go">Separate</button>
    <div>
        <h1>Vocals</h1>
        <audio id="vocals" controls></audio>
        <h2>Accompaniment</h2>
        <audio id="accompaniment" controls></audio>
    </div>
    
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>